<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Clases Presenciales</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">


<!-- Custom styles for this template -->
<link href="css/styleApuntarseClase.min.css" rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body id="page-top">
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">{{nombreUsuario}}</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#crossfit">Crossfit</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#spinning">Spinning</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#zumba">Zumba</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="cerrarSesion">Cerrar Sesion</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase">
						<strong>BE STRONG</strong>
					</h1>
					<hr>
				</div>
				<div class="col-lg-8 mx-auto">
					<p class="text-faded mb-5">Clases Presenciales</p>
				</div>
			</div>
		</div>
	</header>

	<section class="bg-primary" id="crossfit">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="section-heading text white">CROSSFIT</h2>
					<hr class="light my-4">
					<p class="text-dark mb-4">NUESTRA ESPECIALIDAD!</p>
					<p class="text-faded mb-4">{{descripcionCrossfit}}</p>
					<p class="text-faded mb-4">Duracion: {{duracionCrossfit}} min</p> 
					<p class="text-faded mb-4">Intensidad cardio: {{intensidadCardioCrossfit}}</p>
					<p class="text-faded mb-4">Intensidad fuerza: {{intensidadFuerzaCrossfit}}</p>
					<p class="text-faded mb-4">Sala: {{salaCrossfit}}</p>
					<p class="text-faded mb-4">Plazas libres: {{plazasLibresCrossfit}}</p>
					<iframe width="600" height="400"
						src="https://youtube.com/embed/0HofXKSjUCs"> </iframe>
					<p class="text-faded mb-4">HORARIO</p>
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">9:00-11:00</th>
								<th scope="col">11:00-13:00</th>
								<th scope="col">13:00-15:00</th>
								<th scope="col">15:00-17:00</th>
								<th scope="col">17:00-19:00</th>
								<th scope="col">19:00-21:00</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Lunes</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Martes</th>
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Miercoles</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 15-17 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Jueves</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Viernes</th>
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Sabado</th>
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class="table-danger">Crossfit (Sala Box)</td>
								<!-- 19-21 -->
							</tr>
						</tbody>
					</table>
					<div class="modal fade" id="formularioCrossfit" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-center">
							<div class="modal-dialog .modal-align-center">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">CROSSFIT</h4>
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">×</span><span class="sr-only">Cerrar</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="col-12">
											<h4>Seleccione horario</h4>
											<select class="custom-select" id="no_checkboxes"
												multiple="multiple">
												<optgroup label="LUNES">
													<option value="1">SALA BOX 11:00-13:00</option>
													<option value="2">SALA BOX 17:00-19:00</option>
												</optgroup>
												<optgroup label="MARTES">
													<option value="3">SALA BOX 9:00-11:00</option>
													<option value="4">SALA BOX 19:00-21:00</option>
												</optgroup>
												<optgroup label="MIERCOLES">
													<option value="5">SALA BOX 15:00-17:00</option>
													<option value="6">SALA BOX 17:00-19:00</option>
												</optgroup>
												<optgroup label="JUEVES">
													<option value="7">SALA BOX 13:00-15:00</option>
												</optgroup>
												<optgroup label="VIERNES">
													<option value="8">SALA BOX 9:00-11:00</option>
													<option value="9">SALA BOX 19:00-21:00</option>
												</optgroup>
												<optgroup label="SABADO">
													<option value="10">SALA BOX 9:00-11:00</option>
													<option value="11">SALA BOX 19:00-21:00</option>
												</optgroup>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-dark"
											data-dismiss="modal">Cerrar</button>
										<button type="button" class="btn btn-primary">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-dark btn-xl js-scroll-trigger"
						data-toggle="modal" data-target="#formularioCrossfit">APUNTARSE</button>
				</div>
			</div>
		</div>
	</section>
	<section id="spinning">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">SPINNING</h2>
					<hr class="my-4">
					<p class="text-dark mb-4">{{descripcionSpinning}}</p>
					<p class="text-dark mb-4">Duracion: {{duracionSpinning}} min</p> 
					<p class="text-dark mb-4">Intensidad cardio: {{intensidadCardioSpinning}}</p>
					<p class="text-dark mb-4">Intensidad fuerza: {{intensidadFuerzaSpinning}}</p>
					<p class="text-dark mb-4">Sala: {{salaSpinning}}</p>
					<p class="text-dark mb-4">Plazas libres: {{plazasLibresSpinning}}</p>
					<iframe width="600" height="400"
						src="https://youtube.com/embed/BbTmF5cclAE"> </iframe>
					<p class="text-dark mb-4">HORARIO</p>
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">9:00-11:00</th>
								<th scope="col">11:00-13:00</th>
								<th scope="col">13:00-15:00</th>
								<th scope="col">15:00-17:00</th>
								<th scope="col">17:00-19:00</th>
								<th scope="col">19:00-21:00</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Lunes</th>
								<td class="table-info">Spinning (Sala 1)</td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class="table-info">Spinning (Sala 4)</td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Martes</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class="table-info">Spinning (Sala 4)</td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Miercoles</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class="table-info">Spinning (Sala 1)</td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class="table-info">Spinning (Sala 4)</td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Jueves</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class="table-info">Spinning (Sala 1)</td>
								<!-- 17-19 -->
								<td class="table-info">Spinning (Sala 4)</td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Viernes</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class="table-info">Spinning (Sala 4)</td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class="table-info">Spinning (Sala 1)</td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Sabado</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class="table-info">Spinning (Sala 4)</td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class="table-info">Spinning (Sala 1)</td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
						</tbody>
					</table>
					<div class="modal fade" id="formularioSpinning" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-center">
							<div class="modal-dialog .modal-align-center">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">SPINNING</h4>
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">×</span><span class="sr-only">Cerrar</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="col-12">
											<h4>Seleccione horario</h4>
											<select class="custom-select" id="no_checkboxes"
												multiple="multiple">
												<optgroup label="LUNES">
													<option value="1">SALA 1 9:00-11:00</option>
													<option value="2">SALA 4 19:00-21:00</option>
												</optgroup>
												<optgroup label="MARTES">
													<option value="3">SALA 4 11:00-13:00</option>
												</optgroup>
												<optgroup label="MIERCOLES">
													<option value="4">SALA 1 13:00-15:00</option>
													<option value="5">SALA 4 19:00-21:00</option>
												</optgroup>
												<optgroup label="JUEVES">
													<option value="6">SALA 1 17:00-19:00</option>
													<option value="7">SALA 4 19:00-21:00</option>
												</optgroup>
												<optgroup label="VIERNES">
													<option value="8">SALA 4 11:00-13:00</option>
													<option value="9">SALA 1 17:00-19:00</option>
												</optgroup>
												<optgroup label="SABADO">
													<option value="10">SALA 4 11:00-13:00</option>
													<option value="11">SALA 1 15:00-17:00</option>
												</optgroup>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-dark"
											data-dismiss="modal">Cerrar</button>
										<button type="button" class="btn btn-primary">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-dark btn-xl js-scroll-trigger"
						data-toggle="modal" data-target="#formularioSpinning">APUNTARSE</button>
				</div>
			</div>
		</div>
	</section>


	<section id="zumba">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">ZUMBA</h2>
					<hr class="my-4">
					<p class="text-dark mb-4">{{descripcionZumba}}</p>
					<p class="text-dark mb-4">Duracion: {{duracionZumba}} min</p> 
					<p class="text-dark mb-4">Intensidad cardio: {{intensidadCardioZumba}}</p>
					<p class="text-dark mb-4">Intensidad fuerza: {{intensidadFuerzaZumba}}</p>
					<p class="text-dark mb-4">Sala: {{salaZumba}}</p>
					<p class="text-dark mb-4">Plazas libres: {{plazasLibresZumba}}</p>
					<iframe width="600" height="400"
						src="https://youtube.com/embed/P8UXP34pHM8"> </iframe>
					<p class="text-dark mb-4">HORARIO</p>
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">9:00-11:00</th>
								<th scope="col">11:00-13:00</th>
								<th scope="col">13:00-15:00</th>
								<th scope="col">15:00-17:00</th>
								<th scope="col">17:00-19:00</th>
								<th scope="col">19:00-21:00</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Lunes</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class="table-success">Zumba (Sala 3)</td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Martes</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class="table-success">Zumba (Sala 2)</td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Miercoles</th>
								<td class="table-success">Zumba (Sala 3)</td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Jueves</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class="table-success">Zumba (Sala 2)</td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Viernes</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class=""></td>
								<!-- 13-15 -->
								<td class="table-success">Zumba (Sala 3)</td>
								<!-- 15-17 -->
								<td class=""></td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
							<tr>
								<th scope="row">Sabado</th>
								<td class=""></td>
								<!-- 9-11 -->
								<td class=""></td>
								<!-- 11-13 -->
								<td class="table-success">Zumba (Sala 3)</td>
								<!-- 13-15 -->
								<td class=""></td>
								<!-- 15-17 -->
								<td class="table-success">Zumba (Sala 2)</td>
								<!-- 17-19 -->
								<td class=""></td>
								<!-- 19-21 -->
							</tr>
						</tbody>
					</table>
					<div class="modal fade" id="formularioZumba" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-center">
							<div class="modal-dialog .modal-align-center">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">ZUMBA</h4>
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">×</span><span class="sr-only">Cerrar</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="col-12">
											<h4>Seleccione horario</h4>
											<select class="custom-select" id="no_checkboxes"
												multiple="multiple">
												<optgroup label="LUNES">
													<option value="1">SALA 3 15:00-17:00</option>
												</optgroup>
												<optgroup label="MARTES">
													<option value="3">SALA 2 13:00-15:00</option>
												</optgroup>
												<optgroup label="MIERCOLES">
													<option value="4">SALA 3 9:00-11:00</option>
												</optgroup>
												<optgroup label="JUEVES">
													<option value="6">SALA 2 15:00-17:00</option>
												</optgroup>
												<optgroup label="VIERNES">
													<option value="9">SALA 3 15:00-17:00</option>
												</optgroup>
												<optgroup label="SABADO">
													<option value="10">SALA 3 13:00-15:00</option>
													<option value="11">SALA 2 17:00-19:00</option>
												</optgroup>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-dark"
											data-dismiss="modal">Cerrar</button>
										<button type="button" class="btn btn-primary">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-dark btn-xl js-scroll-trigger"
						data-toggle="modal" data-target="#formularioZumba">APUNTARSE</button>
				</div>
			</div>
		</div>
	</section>


	<section id="contacto">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="section-heading">¿Algo que contarnos?</h2>
					<hr class="my-4">
					<p class="mb-5">Cualquier duda o sugerencia que nos puedas
						aportar con la que podamos crecer, nos será gran ayuda</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 ml-auto text-center">
					<i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
					<p>91 000 00 00</p>
				</div>
				<div class="col-lg-4 mr-auto text-center">
					<i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
					<p>
						<a href="mailto:feedback@smartgym.com">feedback@smartgym.com</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/creative.min.js"></script>

</body>

</html>