<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Añadir Clase</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/styleAñadirClase.css">
<script>
	function alertaAñadirClase(){
		alert("Has creado una clase!");
	}
</script>
</head>

<body>
	<div class="container" id="registration-form">
		<div class="image"></div>
		<div class="frm">
			<h1>Nueva Clase</h1>
			<form action="nuevaClase">
				<div class="form-group">
					<label for="nombre">Nombre Clase</label> <input type="text"
						class="form-control" id="nombreClaseNueva" name="nombreClaseNueva" placeholder="Nombre Clase">
				</div>
				<div class="form-group">
					<label for="nombre">Intensidad Fuerza</label> <input type="number"
						class="form-control" id="fuerzaClaseNueva" name="fuerzaClaseNueva" placeholder="Nivel Fuerza" min="1" max="10">
				</div>
				<div class="form-group">
					<label for="nombre">Intensidad Cardio</label> <input type="number"
						class="form-control" id="cardioClaseNueva" name="cardioClaseNueva" placeholder="Nivel Cardio" min="1" max="10">
				</div>
				<div class="form-group">
					<label for="nombre">Plazas</label> <input type="number"
						class="form-control" id="plazasClaseNueva" name="plazasClaseNueva" placeholder="Numero Plazas" min="5" max="50">
				</div>
				<div class="form-group">
					<label for="nombre">Duracion (minutos)</label> <input type="number"
						class="form-control" id="duracionClaseNueva" name="duracionClaseNueva" placeholder="Duracion minutos" min="30" max="120">
				</div>
				<div class="form-group">
					<label for="nombre">Breve descripcion</label> <input type="text"
						class="form-control" id="descripcionClaseNueva" name="descripcionClaseNueva" placeholder="Esta clase consiste en...">
				</div>
		
				<div class="form-group">
					<button type="submit" btn btn-success btn-lg" href="nuevaClase" onclick="alertaAñadirClase()">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
