<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Añadir Horario</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/styleAñadirHorario.css">
<script>
	function alertaAñadirHorario(){
		alert("Has añadido un horario!");
	}
</script>
</head>

<body>
	<div class="container" id="registration-form">
		<div class="image"></div>
		<div class="frm">
			<h1>Nuevo Horario</h1>
			<form action="editarHorario">
				<div class="form-group">
					<label for="nombre">Nombre Clase</label> <input type="text"
						class="form-control" id="nombreClase" name="nombreClase" placeholder="Nombre Clase">
				</div>
				<div class="form-group">
					<label for="nombre">Día</label> <input type="text"
						class="form-control" id="diaCLase" name="diaClase" placeholder="Día">
				</div>
				<div class="form-group">
					<label for="nombre">Hora</label> <input type="number"
						class="form-control" id="horaClase" name="horaClase" placeholder="Inicio Clase">
				</div>
				<div class="form-group">
					<label for="nombre">Plazas</label> <input type="number"
						class="form-control" id="plazasClase" name="plazasClase" placeholder="Numero Plazas">
				</div>
				<div class="form-group">
					<label for="nombre">Sala</label> <input type="number"
						class="form-control" id="salaClase" name="salaClase" placeholder="1" min="1" max="4">
				</div>		
				<div class="form-group">
					<button type="confirmarHorario" class="btn btn-success btn-lg" href="editarHorario" onclick="alertaAñadirHorario()">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
