<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Nueva Clase</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/styleCrearClase.css">
</head>
<body>
	<div class="container" id="registration-form">
		<!--<div class="image"></div>-->
		<div class="frm">
			<h1>Crear Nueva Clase</h1>
			<form>
				<div class="form-group">
					<label for="nombreClase">Nombre:</label> <input type="text" class="form-control" id="nombreClase"
						name="nombreClase" placeholder="Nombre Clase">
				</div>
				<div class="form-group">
					<label for="intensidadFuerza">Nivel Intensidad Fuerza:</label> <input type="number" min="1" max="10">
				</div>
				<div class="form-group">
					<label for="intensidadCardio">Nivel Intensidad Cardio:</label> <input type="number" min="1" max="10">
				</div>
				<div class="form-group">
					<label for="maxPlazas">Plazas Maximas:</label> <input type="number" min="1" max="50">
				</div>
				<div class="form-group">
					<label for="maxPlazas">Duracion(min):</label> <input type="number" min="30" max="240">
				</div>
				<div class="form-group">
					<label for="descripcion">Descripcion:</label> <textarea rows="5" cols="40"></textarea>
				</div>
					<button type="submit" class="btn btn-success btn-lg" href="nuevaClase">Confirmar</button>
			</form>
		</div>
	</div>
</body>
</html>