<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Editar Perfil</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/styleEditarPerfil.css">
<script>
	function editarPerfilOK(){
		alert("El perfil ha sido editado correctamente!");
	}
	function descartadosCambios(){
		alert("Los cambios han sido descartados");
	}
</script>
</head>

<body>
	<div class="container" id="registration-form">
		<div class="image"></div>
		<div class="frm">
			<h1>Editar Perfil</h1>
			<form action="acceso">
				<div class="form-group">
					<label for="nombreUsuario">Nuevo Nombre Usuario:</label> <input
						type="text" class="form-control" id="nombreUsuario"
						name="nombreUsuario" placeholder="{{nombreUsuarioAntiguo}}">
				</div>
				<div class="form-group">
					<label for="email">Nuevo Email:</label> <input type="email"
						class="form-control" id="email" name="email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="contraseña">Nueva Contraseña:</label> <input
						type="password" class="form-control" id="contraseña"
						placeholder="Contraseña">
				</div>
				<div style="text-align: center;">
						<button type="submit" class="btn btn-success btn-lg" href="editar" onclick="editarPerfilOK()">Editar</button>
						<button type="submit" class="btn btn-success btn-lg" href="cancelar" onclick="descartadosCambios()">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
