<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Nueva Rutina</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/styleNuevaRutina.css">
<script>
	function rutinaCreadaOK(){
		alert("La rutina ha sido editado correctamente!");
	}
</script>
</head>

<body>
	<div class="container" id="registration-form">
		<div class="image"></div>
		<div class="frm">
			<h1>Nueva Rutina</h1>
			<form action="nuevaRutinaFormulario">
				<!-- Ejercicio 1 -->
				<div class="form-group">
					<label for="nombreEjercicio1">Nombre Ejercicio:</label> <input
						type="text" class="form-control" id="nombreEjercicio1"
						name="nombreEjercicio1" placeholder="Ej: Press Banca">
				</div>
				<div class="form-group">
					<label for="seriesEjercicio1">Series Ejercicio:</label> <input type="number"
						class="form-control" id="seriesEjercicio1" name="seriesEjercicio1" placeholder="4">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio1">Repeticiones Ejercicio:</label> <input
						type="number" class="form-control" id="repeticionesEjercicio1" name="repeticionesEjercicio1"
						placeholder="10">
				</div>
				<div class="form-group">
					<label for="intensidadEjercicio1">Intensidad Ejercicio:</label> <input
						type="text" class="form-control" id="intensidadEjercicio1" name="intensidadEjercicio1"
						placeholder="Ej: Maximo peso posible">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio1">Descanso entre series (segundos):</label> <input
						type="number" class="form-control" id="descansoEjercicio1" name="descansoEjercicio1"
						placeholder="30">
				</div>
				
				<!-- Ejercicio 2 -->
				<div class="form-group">
					<label for="nombreEjercicio2">Nombre Ejercicio:</label> <input
						type="text" class="form-control" id="nombreEjercicio2"
						name="nombreEjercicio2" placeholder="Ej: Press Banca">
				</div>
				<div class="form-group">
					<label for="seriesEjercicio2">Series Ejercicio:</label> <input type="number"
						class="form-control" id="seriesEjercicio2" name="seriesEjercicio2" placeholder="4">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio2">Repeticiones Ejercicio:</label> <input
						type="number" class="form-control" id="repeticionesEjercicio2" name="repeticionesEjercicio2"
						placeholder="10">
				</div>
				<div class="form-group">
					<label for="intensidadEjercicio2">Intensidad Ejercicio:</label> <input
						type="text" class="form-control" id="intensidadEjercicio2" name="intensidadEjercicio2"
						placeholder="Ej: Maximo peso posible">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio2">Descanso entre series (segundos):</label> <input
						type="number" class="form-control" id="descansoEjercicio2" name="descansoEjercicio2"
						placeholder="30">
				</div>
				
				<!-- Ejercicio 3 -->
				<div class="form-group">
					<label for="nombreEjercicio3">Nombre Ejercicio:</label> <input
						type="text" class="form-control" id="nombreEjercicio3"
						name="nombreEjercicio3" placeholder="Ej: Press Banca">
				</div>
				<div class="form-group">
					<label for="seriesEjercicio3">Series Ejercicio:</label> <input type="number"
						class="form-control" id="seriesEjercicio3" name="seriesEjercicio3" placeholder="4">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio3">Repeticiones Ejercicio:</label> <input
						type="number" class="form-control" id="repeticionesEjercicio3" name="repeticionesEjercicio3"
						placeholder="10">
				</div>
				<div class="form-group">
					<label for="intensidadEjercicio3">Intensidad Ejercicio:</label> <input
						type="text" class="form-control" id="intensidadEjercicio3" name="intensidadEjercicio3"
						placeholder="Ej: Maximo peso posible">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio3">Descanso entre series (segundos):</label> <input
						type="number" class="form-control" id="descansoEjercicio3" name="descansoEjercicio3"
						placeholder="30">
				</div>
				
				<!-- Ejercicio 4 -->
				<div class="form-group">
					<label for="nombreEjercicio4">Nombre Ejercicio:</label> <input
						type="text" class="form-control" id="nombreEjercicio4"
						name="nombreEjercicio4" placeholder="Ej: Press Banca">
				</div>
				<div class="form-group">
					<label for="seriesEjercicio4">Series Ejercicio:</label> <input type="number"
						class="form-control" id="seriesEjercicio4" name="seriesEjercicio4" placeholder="4">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio4">Repeticiones Ejercicio:</label> <input
						type="number" class="form-control" id="repeticionesEjercicio4" name="repeticionesEjercicio4"
						placeholder="10">
				</div>
				<div class="form-group">
					<label for="intensidadEjercicio4">Intensidad Ejercicio:</label> <input
						type="text" class="form-control" id="intensidadEjercicio4" name="intensidadEjercicio4"
						placeholder="Ej: Maximo peso posible">
				</div>
				<div class="form-group">
					<label for="repeticionesEjercicio4">Descanso entre series (segundos):</label> <input
						type="number" class="form-control" id="descansoEjercicio4" name="descansoEjercicio4"
						placeholder="30">
				</div>
				<div style="text-align: center;">
						<button type="submit" class="btn btn-success btn-lg" onclick="rutinaCreadaOK()">Enviar</button>
				</div>
				<input type="hidden" name="_csrf" value="{{token}}">
			</form>
		</div>
	</div>
</body>

</html>
