<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Usuario</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">


<!-- Custom styles for this template -->
<link href="css/styleUsuarioBasico.min.css" rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body id="page-top">
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">{{nombreUsuario}}</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#clasesPresenciales">Clases presenciales</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#entrenadorPersonal">Entrenador Personal</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#rutinasFavoritas">Rutinas Favoritas</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="editarPerfil" name="editar" value="usuarioBasico">Editar
							Perfil</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="cerrarSesion">Cerrar Sesion</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase">
						<strong>Nunca tengas miedo a fallar</strong>
					</h1>
					<hr>
				</div>
				<div class="col-lg-8 mx-auto">
					<p class="text-faded mb-5">Hola {{nombreUsuario}}!</p>
				</div>
			</div>
		</div>
	</header>

	<section class="bg-primary" id="clasesPresenciales">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="section-heading text-white">CLASES PRESENCIALES</h2>
					<hr class="light my-4">
					<p class="text-faded mb-4">Disponemos de las siguientes
						clases presenciales. No dudes en apuntarte</p>
					<table class="table table-dark">
						<thead>
							<th scope="col"></th>
							<th scope="col">Nombre Clase</th>
							<th scope="col">Apuntarse</th>
						</thead>
						{{#listaClases}}
						<tr>
							<td>{{-index}}</td>
							<td>{{.}}</td>
							<td id="nombreClase" name="nombreClase"
							href="apuntarseClase" value = "{{.}}">APUNTARSE</td>
						</tr>
						{{/listaClases}}
					</table>
				</div>
			</div>
		</div>
	</section>
	<section id="entrenadorPersonal">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">ENTRENADOR PERSONAL</h2>
					<hr class="my-4">
					<p class="text-dark mb-4">En esta seccion, aparecera el
						seguimiento de tu entrenador personal.</p>
					<p class="text-dark mb-4">Si no dispones de uno, no dudes en
						contactar con alguno de ellos.</p>
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Nombre Entrenador</th>
								<th scope="col">Objetivo</th>
								<th scope="col">Rutina</th>
							</tr>
						</thead>
						{{#listaRutinasPersonales}}
						<tr>
							<td>{{-index}}</td> 
							<td> </td>  <!-- Nombre Entrenador -->
							<td> </td> <!-- Objetivo Rutina -->
							<td id="rutina" name="rutina"
							value = "{{.}}">Rutina</td>
						</tr>
						{{/listaRutinasPersonales}}	
					</table>
					<a class="btn btn-dark btn-xl js-scroll-trigger"
						href="contactarEntrenador">CONTACTAR CON ENTRENADOR</a>
				</div>
			</div>
		</div>
	</section>


	<section id="rutinasFavoritas">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">RUTINAS FAVORITAS</h2>
					<hr class="my-4">
					<p class="text-dark mb-4">En este apartado apareceran tus
						rutinas favoritas</p>
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Objetivo</th>
								<th scope="col">Rutina</th>
								<th scope="col">Eliminar Favoritos</th>
							</tr>
						</thead>
						{{#listaRutinasFavoritas}}
						<tr>
							<td>{{-index}}</td> 
							<td> </td>  <!-- Objetivo Rutina -->
							<td> </td> <!-- Rutina -->
							<td id="rutina" name="rutina"
							value = "{{.}}">Rutina</td>
							<td id="quitarFavoritos" name="quitarFavoritos"
							value = "{{.}}">Eliminar Favoritos</td>
						</tr>
						{{/listaRutinasFavoritas}}	
					</table>
				</div>
			</div>
		</div>
	</section>
	<section id="contacto">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="section-heading">¿Algo que contarnos?</h2>
					<hr class="my-4">
					<p class="mb-5">Cualquier duda o sugerencia que nos puedas
						aportar con la que podamos crecer, nos será gran ayuda</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 ml-auto text-center">
					<i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
					<p>91 000 00 00</p>
				</div>
				<div class="col-lg-4 mr-auto text-center">
					<i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
					<p>
						<a href="mailto:feedback@smartgym.com">feedback@smartgym.com</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/creative.min.js"></script>

</body>

</html>