<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Entrenador Personal</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styleUsuarioEntrenador.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">ENTRENADOR</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="carteraClientes">Cartera Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="entrenador">Entrenador Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="rutinasFavoritas">Rutinas Favoritas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="cerrarSesion">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>DESEARAS RENDIRTE, NO LO HAGAS!</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Bienvenido a Smart Gym</p>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="carteraClientes">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">CARTERA CLIENTES</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Nosotros te organizamos el trabajo</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="carteraClientes">ACCEDER</a>
          </div>
        </div>
      </div>
    </section>
    <section id="entrenadorPersonal">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ENTRENADOR PERSONAL</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">ENTRENADOR PERSONAL</h3>
              <p class="text-muted mb-0">Posibilidad de seguimiento mediante entrenador personal de sala</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">SERVICIO DE RUTINAS Y DIETAS</h3>
              <p class="text-muted mb-0">Disponibilidad de un servicio de rutinas de entrenamiento</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/rutinaVolumenPartePublica.png">
              <img class="img-fluid" src="img/portfolio/thumbnails/rutinaVolumenPartePublica.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    RUTINA PERSONALIZADA
                  </div>
                  <div class="project-name">
                  	Objetivo rutina: HIPERTROFIA
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/rutinaDefinicionPartePublica.png">
              <img class="img-fluid" src="img/portfolio/thumbnails/rutinaDefinicionPartePublica.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    RUTINA PERSONALIZADA
                  </div>
                  <div class="project-name">
                  	Objetivo rutina: DEFINICION
                  </div>
                </div>
              </div>
            </a>
          </div>
    </section>

    <section id="servicios">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ESPACIOS A TU DISPOSICION</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">ZONA MUSCULACION</h3>
              <p class="text-muted mb-0">Zona de musculacion con los ultimos aparatos Precor, Matrix, Maniak...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">ZONA CARDIO</h3>
              <p class="text-muted mb-0">Zona de cardio donde dispones de una amplia variedad de maquinas</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">ZONA ENTRENAMIENTO EXTERIOR</h3>
              <p class="text-muted mb-0">Zona donde los dias de buen clima podras ponerte a punto para el verano</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">CLASES PRESENCIALES</h3>
              <p class="text-muted mb-0">Dispones de una amplia variedad de clases y horarios</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/zonaMusculacion.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/zonaMusculacion.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    ZONA MUSCULACION
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/zonaCardio.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/zonaCardio.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    ZONA CARDIO
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/zonaEntrenamientoExterior.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/zonaEntrenamientoExterior.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    ZONA ENTRENAMIENTO EXTERIOR
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/claseZumba.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/claseZumba.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    CLASES PRESENCIALES
                  </div>
                  <div class="project-name">
                    Clase Zumba
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/claseSpinning.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/claseSpinning.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    CLASES PRESENCIALES
                  </div>
                  <div class="project-name">
                    Clase Spinning
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/boxCrossfit.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/boxCrossfit.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    CLASES PRESENCIALES
                  </div>
                  <div class="project-name">
                    Box Crossfit
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">¿Algo que contarnos?</h2>
            <hr class="my-4">
            <p class="mb-5">Cualquier duda o sugerencia que nos puedas aportar con la que podamos crecer, nos será gran ayuda</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>91 000 00 00</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@smartgym.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>